.car-rentals-section-2 .row .con{
    display: flex;
    flex-wrap: wrap;
}

.car-rentals-section-2 .col-xl-4,
.car-rentals-section-2 .col-lg-6,
.car-rentals-section-2 .col-md-6 .icon{
    display: flex;
}

.car-rentals-items .con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

